---
http_interactions:
- request:
    method: get
    uri: http://services.healthindicators.gov/v5/REST.svc/Keywords/1?api_key=1b27cecc14fa42eaa0a8d7ac6942406f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: '<ServiceResponseOfArrayOfKeyword5tuk5QCM xmlns="http://schemas.datacontract.org/2004/07/NCHS.HIW.Service.ServiceObjects"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Status>Error</Status><Message>No
        API key was provided. An API key is required in order to access this service.
        For more information or to obtain an API key, please visit: http://healthindicators.gov/Developers</Message><Data
        i:nil="true" xmlns:a="http://schemas.datacontract.org/2004/07/NCHS.HIW.Service.ServiceObjects.REST"/><DataLength>0</DataLength></ServiceResponseOfArrayOfKeyword5tuk5QCM>'
  recorded_at: Wed, 10 Dec 2014 12:13:36 GMT
- request:
    method: get
    uri: http://services.healthindicators.gov/v5/REST.svc/Keywords/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: '<ServiceResponseOfArrayOfKeyword5tuk5QCM xmlns="http://schemas.datacontract.org/2004/07/NCHS.HIW.Service.ServiceObjects"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Status>Error</Status><Message>No
        API key was provided. An API key is required in order to access this service.
        For more information or to obtain an API key, please visit: http://healthindicators.gov/Developers</Message><Data
        i:nil="true" xmlns:a="http://schemas.datacontract.org/2004/07/NCHS.HIW.Service.ServiceObjects.REST"/><DataLength>0</DataLength></ServiceResponseOfArrayOfKeyword5tuk5QCM>'
  recorded_at: Wed, 10 Dec 2014 12:32:32 GMT
- request:
    method: get
    uri: http://services.healthindicators.gov/v5/REST.svc/Keywords/1?Key=1b27cecc14fa42eaa0a8d7ac6942406f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<ServiceResponseOfArrayOfKeyword5tuk5QCM><Status>Success</Status><Message/><Data><Keyword><CountOfIndicatorDescription>1</CountOfIndicatorDescription><Enabled>true</Enabled><ForDevelopment>false</ForDevelopment><ID>2572</ID><ModifyDate/><Name>1,2,3,6,7,8-hexachlorodibenzo-p-dioxin</Name><ShowOnProfile>true</ShowOnProfile><Links><Link><Href>http://services.healthindicators.gov/v5/REST.svc/Keyword/2572/IndicatorDescriptionKeywords/1</Href><Relationship>IndicatorDescriptionKeywords</Relationship><Type>IndicatorDescriptionKeywords</Type></Link></Links></Keyword><Keyword><CountOfIndicatorDescription>1</CountOfIndicatorDescription><Enabled>true</Enabled><ForDevelopment>false</ForDevelopment><ID>2573</ID><ModifyDate/><Name>3,4,6-trichloro-2-pyridinol</Name><ShowOnProfile>true</ShowOnProfile><Links><Link><Href>http://services.healthindicators.gov/v5/REST.svc/Keyword/2573/IndicatorDescriptionKeywords/1</Href><Relationship>IndicatorDescriptionKeywords</Relationship><Type>IndicatorDescriptionKeywords[...]
